/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
html {
   background: url(img/radar.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;;
}
body {
	background: none !important;
}

h1 {
  font-family:monospace;
  font-size:4em;
  font-weight: bold;
  color: #99CCFF;
  margin: 0px;
  text-align: center;
}

#menu {
	margin: 10px;
}

#lists {
	float: left;
}

.list {
	background-color: white;
	margin: 10px;
	float: left;
	width: 200px;
	overflow-y: auto;
	height: 50px;
}

#gamelist {
}

#playerlist {
}

#game {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.field {
	margin-left: 20px;
	margin-right: 20px;
	background-color:  #99CCFF;
	border: 1px solid black;
	padding: 5px;
	float: left;
}
.box {
	border: 1px solid grey;
	width: 32px;
	height: 32px;
	float: left;
	margin-right: -1px;
	margin-bottom: -1px;
}
.box:hover {
	background-color: #88BBEE;
}

.ship_single {
	background-image: url('img/vertic4.png');
	background-size: cover;
}
